#page {
    max-width: 1500px; 
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: rgba(0,0,0,0.75);;
}

div {
    padding: 10px;
}

label.error {
    padding: 5px;
    color:#D40004 !important;
    text-transform:uppercase !important;
}